mixin catalog-header()
  section.catalog-header
    .container
      .catalog-header__wrapper
        +icon("icon-decor", 725, 548, true).catalog-header__decor
        .catalog-header__description
          .catalog-header__title
            h1.title Такелажные скобы
          .catalog-header__text
            p Широкий ассортимент такелажных скоб для различных отраслей промышленности от&nbsp;ведущих мировых производителей. Благодаря надежности и&nbsp;прочности, продаваемых нами изделий, вы&nbsp;можете не&nbsp;беспокоиться о&nbsp;безопасности.
