mixin catalog-caption()
  section.catalog-caption
    .container
      .catalog-caption__wrapper
        +icon("icon-decor", 725, 548, true).catalog-caption__decor
        .catalog-caption__description
          .catalog-caption__title
            h1.title Такелажные скобы
          .catalog-caption__text
            p Широкий ассортимент такелажных скоб для различных отраслей промышленности от&nbsp;ведущих мировых производителей. Благодаря надежности и&nbsp;прочности, продаваемых нами изделий, вы&nbsp;можете не&nbsp;беспокоиться о&nbsp;безопасности.
