mixin catalog-main()
  -
    const productCard = [
      {
        img: {
          path: "content",
          name: "card-img1",
          format: "png",
          width: 220,
          height: 213,
        },
        title: "Скоба такелажная прямая из нержавеющей стали Cartec C6XSH",
      },
      {
        img: {
          path: "content",
          name: "card-img2",
          format: "png",
          width: 220,
          height: 220,
        },
        title: "Шплинт пружинный нержавеющий Green Pin R-7854",
      },
      {
        img: {
          path: "content",
          name: "card-img3",
          format: "png",
          width: 220,
          height: 259,
        },
        title: "Скоба ROV пружинная Green Pin P-5367",
      },
      {
        img: {
          path: "content",
          name: "card-img4",
          format: "png",
          width: 220,
          height: 220,
        },
        title: "Скоба нержавеющая Green Pin R-7825 DIN 82103",
      },
      {
        img: {
          path: "content",
          name: "card-img5",
          format: "png",
          width: 220,
          height: 230,
        },
        title: "Скоба из сплава Crosby G-209A с винтовой нарезкой",
      },
      {
        img: {
          path: "content",
          name: "card-img6",
          format: "png",
          width: 220,
          height: 220,
        },
        title: "Скоба с винтовым штифтом Crosby G/S-2169",
      },
      {
        img: {
          path: "content",
          name: "card-img7",
          format: "png",
          width: 220,
          height: 213,
        },
        title: "Скоба такелажная прямая из нержавеющей стали Cartec C6XSH",
      },
      {
        img: {
          path: "content",
          name: "card-img8",
          format: "png",
          width: 220,
          height: 220,
        },
        title: "Шплинт пружинный нержавеющий Green Pin R-7854",
      },
      {
        img: {
          path: "content",
          name: "card-img9",
          format: "png",
          width: 220,
          height: 220,
        },
        title: "Скоба ROV пружинная Green Pin P-5367",
      },
      {
        img: {
          path: "content",
          name: "card-img10",
          format: "png",
          width: 220,
          height: 222,
        },
        title: "Скоба нержавеющая Green Pin R-7825 DIN 82103",
      },
      {
        img: {
          path: "content",
          name: "card-img11",
          format: "png",
          width: 220,
          height: 158,
        },
        title: "Скоба из сплава Crosby G-209A с винтовой нарезкой",
      },
      {
        img: {
          path: "content",
          name: "card-img12",
          format: "png",
          width: 220,
          height: 220,
        },
        title: "Скоба с винтовым штифтом Crosby G/S-2169",
      },
      {
        img: {
          path: "content",
          name: "card-img13",
          format: "png",
          width: 220,
          height: 213,
        },
        title: "Скоба такелажная прямая из нержавеющей стали Cartec C6XSH",
      },
      {
        img: {
          path: "content",
          name: "card-img14",
          format: "png",
          width: 220,
          height: 220,
        },
        title: "Шплинт пружинный нержавеющий Green Pin R-7854",
      },
      {
        img: {
          path: "content",
          name: "card-img15",
          format: "png",
          width: 220,
          height: 259,
        },
        title: "Скоба ROV пружинная Green Pin P-5367",
      },
    ]

  section.catalog-main
    aside.filter.aside-section(data-aside="true")
      .filter__box
        button.filter__btn-close(data-aside-close="true") Закрыть
        form.filter__form(action="#", method="get")
          .filter__header
            .filter__caption
              strong Фильтры
            button.filter__btn-reset(type="reset")
              span Очистить
              +icon("icon-closes")
          .filter__form-inner
            .filter__form-item
              .filter__form-top
                .filter__form-name
                  p Форма
                button.filter__button.filter__button--active(type="button")
                  +icon("icon-filter", 12, 8)
              ul.filter__list.filter__list--active
                li.filter__item
                  +custom-toggle({inputLabel: "Прямые", inputNumber: "43", inputType: "checkbox", inputName: "shape"})
                li.filter__item
                  +custom-toggle({inputLabel: "Омегообразные", inputType: "checkbox", inputName: "shape"})
            .filter__form-item
              .filter__form-top
                .filter__form-name
                  p Тип соединения
                button.filter__button.filter__button--active(type="button")
                  +icon("icon-filter", 12, 8)
              ul.filter__list.filter__list--active
                li.filter__item
                  +custom-toggle({inputLabel: "Винтовые", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "Болтовые со шплинтом", inputType: "checkbox", inputName: "connection"})
            .filter__form-item
              .filter__form-top
                .filter__form-name
                  p Материал и покрытие
                button.filter__button.filter__button--active(type="button")
                  +icon("icon-filter", 12, 8)
              ul.filter__list.filter__list--active
                li.filter__item
                  +custom-toggle({inputLabel: "Оцинкованная сталь", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "Нержавеющая сталь", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "Окрашенная сталь", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "Углеродистая сталь", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "Термостойкий сплав", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "Устойчивые к низким температурам", inputType: "checkbox", inputName: "connection"})
            .filter__form-item
              .filter__form-top
                .filter__form-name
                  p Производитель
                button.filter__button.filter__button--active(type="button")
                  +icon("icon-filter", 12, 8)
              ul.filter__list.filter__list--active
                li.filter__item
                  +custom-toggle({inputLabel: "Green Pin", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "Cartec", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "Crosby", inputType: "checkbox", inputName: "connection"})
            .filter__form-item
              .filter__form-top
                .filter__form-name
                  p Грузоподъемность, тонн
                button.filter__button.filter__button--active(type="button")
                  +icon("icon-filter", 12, 8)
              ul.filter__list.filter__list--active
                li.filter__item
                  +custom-toggle({inputLabel: "0,33", inputNumber: "", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "0,5", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "0,75", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "1", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "1,5", inputType: "checkbox", inputName: "connection"})
            .filter__form-item
              .filter__form-top
                .filter__form-name
                  p Класс прочности
                button.filter__button.filter__button--active(type="button")
                  +icon("icon-filter", 12, 8)
              ul.filter__list.filter__list--active
            .filter__form-item
              .filter__form-top
                .filter__form-name
                  p Назначение
                button.filter__button.filter__button--active(type="button")
                  +icon("icon-filter", 12, 8)
              ul.filter__list.filter__list--active
                li.filter__item
                  +custom-toggle({inputLabel: "общее", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "грузоподъемное", inputType: "checkbox", inputName: "connection"})
                li.filter__item
                  +custom-toggle({inputLabel: "специальное", inputType: "checkbox", inputName: "connection"})
          button.filter__btn-reset(type="reset")
            span Очистить
            +icon("icon-closes")
    .inner-container
      .catalog-main__section
        ul.catalog-main__list
          each item in productCard
            li.catalog-main__item
              +product-card(item)
      +pagination()
