.breadcrumbs {
  background-color: $color-default-white;
  margin-top: 84px;

  @include vp-1023 {

  }

  @include vp-767 {
    margin-top: 60px;
  }
}

.breadcrumbs__list {
  display: flex;

  margin: 0 auto;
  padding: 49px 0 26px;
  width: 100%;

  list-style: none;

  @include vp-1023 {
    padding-bottom: 22px;
  }

  @include vp-767 {
    padding-bottom: 16px;
    padding-top: 20px;
  }
}

.breadcrumbs__item {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  color: $color-gray-chateau;

  @include vp-1023 {
    font-size: 14px;
  }

  @include vp-767 {
    font-size: 12px;
  }

  svg {
    flex-shrink: 0;
    margin: 0 8px;

    @include vp-767 {
      width: 8px;
      height: 8px;
      margin: 0 5px;
    }
  }
}


.breadcrumbs__link {
  position: relative;
  display: inline;
  color: $color-gray-chateau;
  // text-decoration: underline;
  // text-decoration-skip-ink: none;

  transition: color $trans-default;

  &::before {
    position: absolute;
    left: 0;
    bottom: 4px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-gray-chateau;
    transform: scaleX(1);
    transition: transform $trans-default;

    @include vp-767 {
      bottom: 6px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-mirage;

      &::before {
        transform: scaleX(0);
      }
    }
  }
}

.breadcrumbs__text {
  color: $color-gray-chateau;
}
