.custom-select {
  position: relative;

  width: 310px;
  margin: 0 auto;
  margin-bottom: 42px;

  &__label {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform $trans-default, opacity $trans-default;

    pointer-events: none;
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform $trans-default, opacity $trans-default;

    pointer-events: none;
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 5px 10px;

    background-color: $color-transparent;
    border: 2px solid rgba($color-default-black, 0.2);
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    transition: border $trans-default;

    &:hover {
      border: 2px solid rgba($color-default-black, 0.5);
    }

    &:focus {
      border: 2px solid rgba($color-default-black, 0.8);
    }
  }

  &__list {
    position: absolute;
    //bottom: 32px;
    z-index: 3;

    //width: 100%;
    //max-height: 100px;
    margin: 0;
    overflow-y: auto;
    list-style: none;
    background-color: $color-default-white;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    transition: visibility $trans-default, opacity $trans-default;

    bottom: -18px;
    left: 0;
    padding: 14px 32px 18px 10px;
    width: 250px;
    border: 0;
    // color: $color-regal-blue;
    // box-shadow: 0 8px 24px rgba($color-grey-shadow, 0.12);
    border-radius: 4px;

    @include vp-767 {
      width: 100%;
    }
  }

  &__item {
    padding: 2px;
    outline: none;
    cursor: pointer;
    transition: background-color $trans-default;

    &[aria-selected="true"] {
      background-color: rgba($color-default-white, 0.2);

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          background-color: rgba($color-default-white, 0.2);
        }
      }
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: rgba($color-default-white, 0.4);
      }
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 0;

    // color: $color-torch-red;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;

    transition: opacity $trans-default 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 20px;
    height: 10px;
    margin-left: auto;

    background-color: $color-default-black;

    transition: transform $trans-default;

    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 30px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__label {
      opacity: 0;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      // border: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        // border: 2px solid rgba($color-torch-red, 0.5);
      }
    }
  }

  /* &.is-valid {
    .custom-select__button {
      border: 2px solid $color-eucalyptus;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-eucalyptus, 0.5);
      }
    }
  } */

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }
}

.custom-select--sort {
  width: 140px;
  height: 42px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  transition: opacity $trans-default;

  /*&:hover {
    .filter-button__button-text {
      opacity: 0.8;
    }
  }*/

  .custom-select__placeholder {
    top: 48%;
    left: 35px;
  }

  .custom-select__button {
    transition: opacity $trans-default;

    @include vp-767 {
      width: 100%;
    }

    &:hover,
    &:focus {
      // border: 1px solid $color-pattens-blue-2;
    }
  }

  .filter-button__button {
    @include vp-767 {
      padding-left: 11px;
      padding-right: 11px;
    }
  }

  .custom-select__list {
    right: 0;
    left: unset;
    z-index: 2;

    @include vp-767 {
      width: 250px;
    }
  }

  .custom-select__text {
    position: absolute;
    top: 10px;
    left: 11px;
  }

  &.not-empty .custom-select__text {
    width: 65%;
    font-weight: 500;
    line-height: 20px;
    // color: $color-regal-blue;
    left: 38px;
  }

  .custom-select__item {
    position: relative;
    padding-left: 27px;
    transition: background-color $trans-default;
    margin-bottom: 5px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        // background-color: $color-grey-blue;

        &::before {
          content: "";
          position: absolute;
          left: 7px;
          top: 8px;
          width: 11px;
          height: 9px;
          background-color: $color-default-white;
          clip-path: polygon(36% 57%, 82% 0, 100% 17%, 37% 100%, 0 62%, 13% 44%);
        }
      }
    }

    &[aria-selected="true"] {
      // color: $color-lochmara;

      &::before {
        content: "";
        position: absolute;
        left: 7px;
        top: 8px;
        width: 11px;
        height: 9px;
        clip-path: polygon(36% 57%, 82% 0, 100% 17%, 37% 100%, 0 62%, 13% 44%);
        // background-color: $color-lochmara;
      }

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover {
          background-color: $color-transparent;

          &::before {
            // background-color: $color-lochmara;
          }
        }
      }
    }
  }
}

.custom-select--180 {
  max-width: 180px;
  width: 100%;
}
