.load {
  &__btn {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: $color-monza;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: font-weight $trans-font, font-size $trans-font;

    @include vp-1023 {
      font-size: 18px;
    }

    @include vp-767 {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}
