-
  const informationListSelect = [
    {
          optionsList: [
        {
          text: "Прямые скобы",
          value: "straight",
        },
        {
          text: "Омегообразные скобы",
          value: "omegashaped",
        },
        {
          text: "Скобы из нержавеющей стали",
          value: "stainless",
        },
        {
          text: "Скобы для низких температур",
          value: "temperatures",
        },
        {
          text: "Скобы специального назначения",
          value: "purpose",
        },
        {
          text: "Шплинт",
          value: "splint",
        },
        {
          text: "Все скобы",
          value: "all",
        },
      ],
      name: "article",
      placeholder: "Все скобы",
    },
  ]
