-
  const informationCatalog = [
    {
      link: '#',
      title: 'Прямые скобы',
    },
    {
      link: '#',
      title: 'Омегообразные скобы',
    },
    {
      link: '#',
      title: 'Скобы из нержавеющей стали',
    },
    {
      link: '#',
      title: 'Скобы для низких температур',
    },
    {
      link: '#',
      title: 'Скобы специального назначения',
    },
    {
      link: '#',
      title: 'Шплинт',
    },
  ];
